*{
    text-decoration: none;
}

body{
    font-family: Trebuchet MS;
    text-align: center;
}

nav{
    background-color: rgb(229, 228, 240);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}
nav .navh{
    font-family: Trebuchet MS;
    font-weight: bold;
    font-size: medium;
    color: rgb(7, 0, 200);
    padding-left: 10px;
}
li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}
ul li:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
}
.divSec{
    font-size: 20px;
    font-family: times;
    font-weight: bold;
    background: linear-gradient(black,grey);
    color: white;
    border: solid black;
    padding: 10px 10px 10px 10px;
    width: 300px;
    border-radius: 25px 25px 25px 25px;
    margin:auto;
}

h1{
    font-family: Trebuchet MS;
    color: white;
    padding-top: 30px;
}

button{
    padding: 25px 25px 25px 25px;
    background-color: black;
    margin: 25px;
    font-family: Trebuchet MS;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    border-radius: 25px 25px 25px 25px;
}

button:hover{
    background-color: gray;
    cursor: pointer;
}
button:active{
    background-color: rgba(200, 0, 0, 0);
    color: hsla(0, 0%, 0%, 0);
}